/*共通部分*/
a{
    text-decoration:none;
}
li{
    list-style:none;
}
*{
    box-sizing:border-box;
}
.container{
    max-width:1200px;
}


/*スマホ画面*/

/*ヘッダー*/
header{
    padding:20px 20px 0 20px;
}
header .container{
    display: flex;
    justify-content:space-between;
}
header img{
    display: block;
}
header p{
    font-size: 25px;
    color:#541700;
    line-height:1.3em;
}
.logo{
    margin-top: 8%;
}


/*メイン*/
main{
    padding:20px 20px 0 20px;
}
.explain{
    font-size: 30px;
    color:#727171;
    margin-bottom: 30px;
    line-height:1.3em;
}
main img{
    width:100%;
}
.product p:nth-child(2){
    font-size: 20px;
    background-color:#E8E8EA;
    padding: 10px;
    width: 70vw;
    margin:0 auto;
    text-align: center;
    border-radius:25px;
}
.product p:nth-child(3){
    font-size: 20px;
    line-height:1.3em;
    margin-top: 20px;
}
.product h2{
    line-height:1.3em;
    color:#F18E2C;
}
.product h2:nth-child(4){
    margin-top: 20px;
    font-size: 30px;
}
.product h2:nth-child(5){
    font-size: 35px;
    margin-top: 5px;
}
.product p:nth-of-type(3){
    color:#F18E2C;
    font-size: 20px;
    line-height:1.3em;
    margin-top: 20px;
}
.product p:nth-of-type(4),.product p:nth-of-type(5){
    background-color:rgba(241, 142, 44,0.5);
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius:15px;
}
.product p:nth-of-type(4){
    width: 60vw;
    border-radius:10px;
}
.product p:nth-of-type(6),
.product p:nth-of-type(7){
    font-size: 20px;
    margin-top: 20px;
}
.material li,.caution li{
    font-size: 20px;
    margin-top: 10px;
    line-height:1.3em;
}
#top{
    margin-top: 30px;
}
#top img{
    width:100%;
}
#top p:nth-of-type(1),
#top li{
    font-size: 20px;
    margin-top: 10px;
}

/*パララックス*/
.title{
    text-align: center;
    transform:translateX(-50px);/* 最初は元の位置より左にずらしておく */
    opacity:0;  /* 最初は非表示にしておく */
    transition:opacity 1s,transform 2s;/* 透明度と位置を設定 */
background-color:gold;
}
.title-explain{
    text-align: center;
    transform:translatex(50px);/* 最初は元の位置より左にずらしておく */
    opacity:0;  /* 最初は非表示にしておく */
    transition:opacity 1s,transform 2s;/* 透明度と位置を設定 */
background-color:red;
}
.fadein{
    opacity:1;/* 表示させる */
    transform:translateX(0); /* 位置を最初の位置に戻す */
}
.move{
    opacity:1;/* 表示させる */
    transform:translatex(0); /* 位置を最初の位置に戻す */
}

/*パララックスここまで*/


#top h2:nth-of-type(1){
    font-size: 35px;
    margin-top: 30px;
}
#top h2:nth-of-type(2),
#top h2:nth-of-type(3),
#top h2:nth-of-type(4){
    font-size: 35px;
    margin-top: 5px;
}


